<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		
		link(href={{'css/normalize.css'}}, media='screen, projection', rel='stylesheet', type='text/css')
		link(href={{'css/screen.css'}}, media='screen, projection', rel='stylesheet', type='text/css')
		link(href={{'css/font-awesome.min.css'}}, media='screen, projection', rel='stylesheet', type='text/css')
		title Error message

	body.error
		.error__wrap 
			h2(style='text-align: center')= message
			br
			h3(style='text-align: center') Status = #{error.status}