<div @fadeIn="'in'" class="screen__main--login">
	<div class="main__login">
		<h3 class="login__title">Как вы хотите войти?</h3>
		<form action="post" class="login__form login">
			<div (click)="testLogin()" class="clearfix login__item">Test <span class="tomato">account</span> 
				<span class="login__icon-wrap">
					<i class="login__i fa fa-user-secret" aria-hidden="true"></i>
				</span>
			</div>
			<div (click)="logInByOwn()" class="clearfix login__item">Own <span class="tomato">account</span> 
				<span class="login__icon-wrap">
					<i class="login__i fa fa-user" aria-hidden="true"></i>
				</span>
			</div>
			<div (click)="logInByNew()" class="clearfix login__item login__item-create">Create <span class="tomato">account</span> 
				<span class="login__icon-wrap">
					<i class="login__i fa fa-user-plus" aria-hidden="true"></i>
				</span>
			</div>

			<div class="form__wrap">
				<div (click)="closeForm()" class="clearfix login__btn login__back-btn">
					Back to <span class="tomato">choice</span>
					<span class="login__icon-wrap">
						<i class="login__i fa fa-arrow-left" aria-hidden="true"></i>
					</span>
				</div>
				<div class="input__wrap input__wrap--username">
					<input id="input-username" (keydown.enter)="setFocusOnPassword()" (focus)="removeErrorClass()" [(ngModel)]="form.name.value" name="name" class="form__input" placeholder="Username" type="text">
					<i class="input-i fa fa-user" aria-hidden="true"></i>
				</div>
				<div class="input__wrap input__wrap--password">
					<input id="input-password" (keydown.enter)="onSubmit()" (focus)="removeErrorClass()" [(ngModel)]="form.password.value" name="password" class="form__input" placeholder="Password" type="password">
					<i class="input-i fa fa-lock" aria-hidden="true"></i>
				</div>
				<div (click)="onSubmit()" class="clearfix login__btn login__next-btn">
					Let's <span class="tomato">come in</span>
					<span class="login__icon-wrap">
						<i class="login__i fa fa-arrow-right" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</form>
	</div>
</div>







<!-- <div @fadeIn="'in'" class="screen__main screen__main--login">
	<div class="main__login"> 
		<h3>Welcome</h3>
		<form (ngSubmit)="onSubmit()" action="post" class="login__form login">
			<div class="form__item">
				<i class="fa fa-user form__item__icon" aria-hidden="true"></i>
				<input type="login" minlength="2" [(ngModel)]="form.name.value" name="name" required>
				<div [hidden]="form.name.valid">Required</div>
			</div>

			<div class="form__item">
				<i class="fa fa-lock form__item__icon" aria-hidden="true"></i>
				<input type="password" minlength="5" [(ngModel)]="form.password.value" name="password" required> 
				<div [hidden]="form.password.valid">Required</div>
			</div>
			
			<input class="login" type="submit" value="Log-in">
		</form>
		<div class="login__help">
			<span class="help__tip help__register help__tip--active">* Want to create new <br>account?</span>
			<span class="help__tip help__login">* You already have an <br>account?</span>
		</div>
	</div>
</div>
 -->
 